### import the necessary libraries

In [16]:
import pandas as pd 
import numpy as np 
import seaborn as sns 


## Import machine learninhg libraries 
# import the regression algorithm 

from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet,HuberRegressor,SGDRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR 
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.model_selection import train_test_split
import lightgbm as lgb
import xgboost as xgb
from sklearn.neural_network import MLPRegressor
from sklearn.pipeline import Pipeline


# import the pickle to dump these file into the pkl file 
import pickle as pkl

### Read the datset

In [3]:
df = pd.read_csv(r"D:\NIT Course\Practice\ML Projects\House Price Prediction\USA_Housing.csv")
df.head()

   Avg. Area Income  ...                                            Address
0      79545.458574  ...  208 Michael Ferry Apt. 674\nLaurabury, NE 3701...
1      79248.642455  ...  188 Johnson Views Suite 079\nLake Kathleen, CA...
2      61287.067179  ...  9127 Elizabeth Stravenue\nDanieltown, WI 06482...
3      63345.240046  ...                          USS Barnett\nFPO AP 44820
4      59982.197226  ...                         USNS Raymond\nFPO AE 09386

[5 rows x 7 columns]

### Explore the dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [5]:
df.describe()

       Avg. Area Income  Avg. Area House Age  ...  Area Population         Price
count       5000.000000          5000.000000  ...      5000.000000  5.000000e+03
mean       68583.108984             5.977222  ...     36163.516039  1.232073e+06
std        10657.991214             0.991456  ...      9925.650114  3.531176e+05
min        17796.631190             2.644304  ...       172.610686  1.593866e+04
25%        61480.562388             5.322283  ...     29403.928702  9.975771e+05
50%        68804.286404             5.970429  ...     36199.406689  1.232669e+06
75%        75783.338666             6.650808  ...     42861.290769  1.471210e+06
max       107701.748378             9.519088  ...     69621.713378  2.469066e+06

[8 rows x 6 columns]

In [7]:
## Drop the unnecessary columns
df.drop(["Address"], axis = 1, inplace = True )

In [9]:
df.corr()

                              Avg. Area Income  ...     Price
Avg. Area Income                      1.000000  ...  0.639734
Avg. Area House Age                  -0.002007  ...  0.452543
Avg. Area Number of Rooms            -0.011032  ...  0.335664
Avg. Area Number of Bedrooms          0.019788  ...  0.171071
Area Population                      -0.016234  ...  0.408556
Price                                 0.639734  ...  1.000000

[6 rows x 6 columns]

In [10]:
## check if the datset have any null values
df.isnull().sum()

Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
Price                           0
dtype: int64

### Seperate the Dependent and independent variable

In [11]:
X = df.drop(["Price"], axis = 1)
y = df["Price"]

### seperate the data into training and testing sets

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

### Fit the data into the models

In [17]:
models = {
    "Linear Regression" : LinearRegression(),
    "Lasso" : Lasso(),
    "Ridge" : Ridge(),
    "KNeighbors Regressor" : KNeighborsRegressor(),
    "Random Forest" : RandomForestRegressor(),
    "ANN Regression" : MLPRegressor(hidden_layer_sizes=(100,), max_iter=1000),
    'LGBM': lgb.LGBMRegressor(),
    'XGBoost': xgb.XGBRegressor(),
    "PolynomialRegression" : Pipeline([
               ("poly", PolynomialFeatures(degree=4)),
             ("Linear Regression",LinearRegression())
         ]),
    "SVR Regression" : SVR(),
    "HuberRegressor" : HuberRegressor(),
    "Elastic Net Regression" : ElasticNet()
    
}

In [ ]:
result = []

for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    # find the metrics 
    MSE = mean_squared_error(y_test, y_pred)
    MAE = mean_absolute_error(y_test, y_pred)
    r2score = r2_score(y_test, y_pred)
    
    # append the MSE , MAE and r2 Score
    result.append(
        {
            "Name" : name,
            "MSE" : MSE,
            "MAE" : MAE,
            "R2 Score" : r2score
        }
    )
    
    # pickle the file

[{'Name': 'Linear Regression', 'MSE': 10549721686.160313, 'MAE': 82657.94605892441, 'R2 Score': 0.9146454505137985}]
[{'Name': 'Linear Regression', 'MSE': 10549721686.160313, 'MAE': 82657.94605892441, 'R2 Score': 0.9146454505137985}, {'Name': 'Lasso', 'MSE': 10549717660.356379, 'MAE': 82657.94662172231, 'R2 Score': 0.9146454830853384}]
[{'Name': 'Linear Regression', 'MSE': 10549721686.160313, 'MAE': 82657.94605892441, 'R2 Score': 0.9146454505137985}, {'Name': 'Lasso', 'MSE': 10549717660.356379, 'MAE': 82657.94662172231, 'R2 Score': 0.9146454830853384}, {'Name': 'Ridge', 'MSE': 10549745186.670168, 'MAE': 82659.67244409773, 'R2 Score': 0.9146452603784101}]
[{'Name': 'Linear Regression', 'MSE': 10549721686.160313, 'MAE': 82657.94605892441, 'R2 Score': 0.9146454505137985}, {'Name': 'Lasso', 'MSE': 10549717660.356379, 'MAE': 82657.94662172231, 'R2 Score': 0.9146454830853384}, {'Name': 'Ridge', 'MSE': 10549745186.670168, 'MAE': 82659.67244409773, 'R2 Score': 0.9146452603784101}, {'Name': 'KNeighbors Regressor', 'MSE': 60395811313.31432, 'MAE': 198086.23684543537, 'R2 Score': 0.5113560889227768}]
[{'Name': 'Linear Regression', 'MSE': 10549721686.160313, 'MAE': 82657.94605892441, 'R2 Score': 0.9146454505137985}, {'Name': 'Lasso', 'MSE': 10549717660.356379, 'MAE': 82657.94662172231, 'R2 Score': 0.9146454830853384}, {'Name': 'Ridge', 'MSE': 10549745186.670168, 'MAE': 82659.67244409773, 'R2 Score': 0.9146452603784101}, {'Name': 'KNeighbors Regressor', 'MSE': 60395811313.31432, 'MAE': 198086.23684543537, 'R2 Score': 0.5113560889227768}, {'Name': 'Random Forest', 'MSE': 15088597613.748606, 'MAE': 98472.51406741879, 'R2 Score': 0.8779228030830807}]
[{'Name': 'Linear Regression', 'MSE': 10549721686.160313, 'MAE': 82657.94605892441, 'R2 Score': 0.9146454505137985}, {'Name': 'Lasso', 'MSE': 10549717660.356379, 'MAE': 82657.94662172231, 'R2 Score': 0.9146454830853384}, {'Name': 'Ridge', 'MSE': 10549745186.670168, 'MAE': 82659.67244409773, 'R2 Score': 0.9146452603784101}, {'Name': 'KNeighbors Regressor', 'MSE': 60395811313.31432, 'MAE': 198086.23684543537, 'R2 Score': 0.5113560889227768}, {'Name': 'Random Forest', 'MSE': 15088597613.748606, 'MAE': 98472.51406741879, 'R2 Score': 0.8779228030830807}, {'Name': 'ANN Regression', 'MSE': 61525357642.82112, 'MAE': 199484.3786512263, 'R2 Score': 0.5022172774027228}]
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000096 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1256
[LightGBM] [Info] Number of data points in the train set: 4000, number of used features: 5
[LightGBM] [Info] Start training from score 1231911.452183
[{'Name': 'Linear Regression', 'MSE': 10549721686.160313, 'MAE': 82657.94605892441, 'R2 Score': 0.9146454505137985}, {'Name': 'Lasso', 'MSE': 10549717660.356379, 'MAE': 82657.94662172231, 'R2 Score': 0.9146454830853384}, {'Name': 'Ridge', 'MSE': 10549745186.670168, 'MAE': 82659.67244409773, 'R2 Score': 0.9146452603784101}, {'Name': 'KNeighbors Regressor', 'MSE': 60395811313.31432, 'MAE': 198086.23684543537, 'R2 Score': 0.5113560889227768}, {'Name': 'Random Forest', 'MSE': 15088597613.748606, 'MAE': 98472.51406741879, 'R2 Score': 0.8779228030830807}, {'Name': 'ANN Regression', 'MSE': 61525357642.82112, 'MAE': 199484.3786512263, 'R2 Score': 0.5022172774027228}, {'Name': 'LGBM', 'MSE': 13097708114.507051, 'MAE': 92133.9888284538, 'R2 Score': 0.8940304769478327}]
[{'Name': 'Linear Regression', 'MSE': 10549721686.160313, 'MAE': 82657.94605892441, 'R2 Score': 0.9146454505137985}, {'Name': 'Lasso', 'MSE': 10549717660.356379, 'MAE': 82657.94662172231, 'R2 Score': 0.9146454830853384}, {'Name': 'Ridge', 'MSE': 10549745186.670168, 'MAE': 82659.67244409773, 'R2 Score': 0.9146452603784101}, {'Name': 'KNeighbors Regressor', 'MSE': 60395811313.31432, 'MAE': 198086.23684543537, 'R2 Score': 0.5113560889227768}, {'Name': 'Random Forest', 'MSE': 15088597613.748606, 'MAE': 98472.51406741879, 'R2 Score': 0.8779228030830807}, {'Name': 'ANN Regression', 'MSE': 61525357642.82112, 'MAE': 199484.3786512263, 'R2 Score': 0.5022172774027228}, {'Name': 'LGBM', 'MSE': 13097708114.507051, 'MAE': 92133.9888284538, 'R2 Score': 0.8940304769478327}, {'Name': 'XGBoost', 'MSE': 16138680641.877495, 'MAE': 101565.19208841266, 'R2 Score': 0.8694269046645823}]
[{'Name': 'Linear Regression', 'MSE': 10549721686.160313, 'MAE': 82657.94605892441, 'R2 Score': 0.9146454505137985}, {'Name': 'Lasso', 'MSE': 10549717660.356379, 'MAE': 82657.94662172231, 'R2 Score': 0.9146454830853384}, {'Name': 'Ridge', 'MSE': 10549745186.670168, 'MAE': 82659.67244409773, 'R2 Score': 0.9146452603784101}, {'Name': 'KNeighbors Regressor', 'MSE': 60395811313.31432, 'MAE': 198086.23684543537, 'R2 Score': 0.5113560889227768}, {'Name': 'Random Forest', 'MSE': 15088597613.748606, 'MAE': 98472.51406741879, 'R2 Score': 0.8779228030830807}, {'Name': 'ANN Regression', 'MSE': 61525357642.82112, 'MAE': 199484.3786512263, 'R2 Score': 0.5022172774027228}, {'Name': 'LGBM', 'MSE': 13097708114.507051, 'MAE': 92133.9888284538, 'R2 Score': 0.8940304769478327}, {'Name': 'XGBoost', 'MSE': 16138680641.877495, 'MAE': 101565.19208841266, 'R2 Score': 0.8694269046645823}, {'Name': 'PolynomialRegression', 'MSE': 10664698510.343369, 'MAE': 83413.3642616763, 'R2 Score': 0.9137152084352447}]
[{'Name': 'Linear Regression', 'MSE': 10549721686.160313, 'MAE': 82657.94605892441, 'R2 Score': 0.9146454505137985}, {'Name': 'Lasso', 'MSE': 10549717660.356379, 'MAE': 82657.94662172231, 'R2 Score': 0.9146454830853384}, {'Name': 'Ridge', 'MSE': 10549745186.670168, 'MAE': 82659.67244409773, 'R2 Score': 0.9146452603784101}, {'Name': 'KNeighbors Regressor', 'MSE': 60395811313.31432, 'MAE': 198086.23684543537, 'R2 Score': 0.5113560889227768}, {'Name': 'Random Forest', 'MSE': 15088597613.748606, 'MAE': 98472.51406741879, 'R2 Score': 0.8779228030830807}, {'Name': 'ANN Regression', 'MSE': 61525357642.82112, 'MAE': 199484.3786512263, 'R2 Score': 0.5022172774027228}, {'Name': 'LGBM', 'MSE': 13097708114.507051, 'MAE': 92133.9888284538, 'R2 Score': 0.8940304769478327}, {'Name': 'XGBoost', 'MSE': 16138680641.877495, 'MAE': 101565.19208841266, 'R2 Score': 0.8694269046645823}, {'Name': 'PolynomialRegression', 'MSE': 10664698510.343369, 'MAE': 83413.3642616763, 'R2 Score': 0.9137152084352447}, {'Name': 'SVR Regression', 'MSE': 123546565157.52672, 'MAE': 282947.68758691323, 'R2 Score': 0.0004227861838135283}]
[{'Name': 'Linear Regression', 'MSE': 10549721686.160313, 'MAE': 82657.94605892441, 'R2 Score': 0.9146454505137985}, {'Name': 'Lasso', 'MSE': 10549717660.356379, 'MAE': 82657.94662172231, 'R2 Score': 0.9146454830853384}, {'Name': 'Ridge', 'MSE': 10549745186.670168, 'MAE': 82659.67244409773, 'R2 Score': 0.9146452603784101}, {'Name': 'KNeighbors Regressor', 'MSE': 60395811313.31432, 'MAE': 198086.23684543537, 'R2 Score': 0.5113560889227768}, {'Name': 'Random Forest', 'MSE': 15088597613.748606, 'MAE': 98472.51406741879, 'R2 Score': 0.8779228030830807}, {'Name': 'ANN Regression', 'MSE': 61525357642.82112, 'MAE': 199484.3786512263, 'R2 Score': 0.5022172774027228}, {'Name': 'LGBM', 'MSE': 13097708114.507051, 'MAE': 92133.9888284538, 'R2 Score': 0.8940304769478327}, {'Name': 'XGBoost', 'MSE': 16138680641.877495, 'MAE': 101565.19208841266, 'R2 Score': 0.8694269046645823}, {'Name': 'PolynomialRegression', 'MSE': 10664698510.343369, 'MAE': 83413.3642616763, 'R2 Score': 0.9137152084352447}, {'Name': 'SVR Regression', 'MSE': 123546565157.52672, 'MAE': 282947.68758691323, 'R2 Score': 0.0004227861838135283}, {'Name': 'HuberRegressor', 'MSE': 61664910393.24955, 'MAE': 199465.55955429334, 'R2 Score': 0.5010881990728173}]
[{'Name': 'Linear Regression', 'MSE': 10549721686.160313, 'MAE': 82657.94605892441, 'R2 Score': 0.9146454505137985}, {'Name': 'Lasso', 'MSE': 10549717660.356379, 'MAE': 82657.94662172231, 'R2 Score': 0.9146454830853384}, {'Name': 'Ridge', 'MSE': 10549745186.670168, 'MAE': 82659.67244409773, 'R2 Score': 0.9146452603784101}, {'Name': 'KNeighbors Regressor', 'MSE': 60395811313.31432, 'MAE': 198086.23684543537, 'R2 Score': 0.5113560889227768}, {'Name': 'Random Forest', 'MSE': 15088597613.748606, 'MAE': 98472.51406741879, 'R2 Score': 0.8779228030830807}, {'Name': 'ANN Regression', 'MSE': 61525357642.82112, 'MAE': 199484.3786512263, 'R2 Score': 0.5022172774027228}, {'Name': 'LGBM', 'MSE': 13097708114.507051, 'MAE': 92133.9888284538, 'R2 Score': 0.8940304769478327}, {'Name': 'XGBoost', 'MSE': 16138680641.877495, 'MAE': 101565.19208841266, 'R2 Score': 0.8694269046645823}, {'Name': 'PolynomialRegression', 'MSE': 10664698510.343369, 'MAE': 83413.3642616763, 'R2 Score': 0.9137152084352447}, {'Name': 'SVR Regression', 'MSE': 123546565157.52672, 'MAE': 282947.68758691323, 'R2 Score': 0.0004227861838135283}, {'Name': 'HuberRegressor', 'MSE': 61664910393.24955, 'MAE': 199465.55955429334, 'R2 Score': 0.5010881990728173}, {'Name': 'Elastic Net Regression', 'MSE': 15081376466.559586, 'MAE': 99126.80843102589, 'R2 Score': 0.8779812271613102}]